# Visual Studio / .NET
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Mac
.DS_Store

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Others
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
*.lnk
!Taskbar Widget.lnk
Run-Dev.bat
